.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.myImage {
  width: 9%;
  width: 9%;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: -20px;
}

.text {
  font-family: 'Raleway', sans-serif;
}

.name-header {
  margin-bottom: -10px;
}